.body2{
   background-color: rgb(0, 136, 255) ; 
   color: white;
}



.main1{
    margin: 10%; 
    margin-top: 5%; 
    text-align: center;
}

@media screen and (max-width: 480px) {

.main1{
    padding-top: 50%;
}
}


