.Body{
    background-color: black;
    color: white;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #000000; 
  padding-bottom: 10px;
 border-radius: 5px;
 width: 100%;
 
}

.navbar-logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;

  
 
}


.navbar-links li:hover{
     border-radius: 5px;
     box-shadow: 1px 1px 15px 5px rgb(0, 136, 255);
     transition: 0.8s;
}

.navbar-links li {
    padding: 5px;
    border-radius: 5px;
    color: white;
  
}
.Home{
    box-shadow: 1px 1px 15px 5px rgb(0, 136, 255);
    text-decoration: underline rgb(0, 136, 255);
    
}
.Home:hover{
    color: blue;
}

.navbar-links li a{
    text-decoration: none;  
  color: inherit; 
  
}





@media screen and (max-width: 768px) {
 .navbar {
  display: flex;
  position: fixed;
  top:0%;
  align-items: center;
  background-color: #000000; 
 border-radius: 5px;
 width: 100%;
 
 
 }

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  margin-top: 15px;

  
 
}
  .btn {
    width: 100%;
    margin-top: 10px;
  }
}


