.titel{
    text-align: center;
    padding-top: 5%;
}
.main3{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
   
}
i{
    font-size: 30px;
    color:  rgb(0, 136, 255);
}

.card1{
    box-shadow: 1px 1px 15px 5px;
    padding: 20px;
    border-radius: 10px;
}
.card1:hover{
     box-shadow: 1px 2px 15px 15px  rgb(0, 136, 255) ;
     transform: scale(1.1);
     transition: 0.5s;
}


.card2{
    box-shadow: 1px 1px 15px 5px;
    padding: 20px;
    border-radius: 10px;
}
.card2:hover{
     box-shadow: 1px 2px 15px 15px  rgb(0, 136, 255) ;
     transform: scale(1.1);
     transition: 0.5s;
}



.card3{
    box-shadow: 1px 1px 15px 5px;
    padding: 20px;
    border-radius: 10px;
}
.card3:hover{
     box-shadow: 1px 2px 15px 15px  rgb(0, 136, 255) ;
     transform: scale(1.1);
     transition: 0.5s;
}

.l{
    color:  rgb(0, 136, 255);
    box-shadow:1px 2px 15px 5px  hsl(232, 100%, 67%) ;
}

@media screen and (max-width: 768px) {
  .Body {
    padding: 5px;
    overflow: hidden;
  }

  .main3 {
    flex-direction: column;
    align-items: center;
    

   
  }
  .titel{
    width: 100%;
    margin-top: 40% ;
   
  }

  .main3 div {
    width: 100%;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }
}
